.home {
  position: absolute;
  height: 100%;
  width: 100%;
}
.button {
  position: absolute;
  margin: auto;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 145px;
  height: 145px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    width: 80px;
    border-radius: 100%;
    white-space: pre-wrap;
    font-size: 35px;
  }
}

.callout {
  width: 105px;
  height: 118px;
  position: relative;
  .img {
    border-radius: 100%;
    width: 85px;
    height: 85px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 10px;
    margin: auto;
    right: 0;
    border: 1px solid red;
  }
}
