.route {
  position: absolute;
  height: 100%;
  width: 100%;
}
.callout {
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.swiper {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  left: 0;
  right: 0;
  padding: 0 40px;
}
.item {
  padding: 10px 5px;
}

.cell {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  height: 230px;
  .taroify-cell__value {
    flex: none;
  }
  .title {
    font-size: 30px;
  }
}

.button {
  border-radius: 100%;
  width: 120px;
  height: 120px;
}
