.location {
  position: absolute;
  left: 30px;
  bottom: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
